@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap');

/*
    WEB 1400 Design Guide Part A
    By: Amber Jeffers
    Date: October 26, 2021
*/

/* Global */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; };

body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
}

/* Grid */
.logo { grid-area: logo; }
.colors { grid-area: colors; }
.typeface { grid-area: typeface; }
.fonts { grid-area: fonts; }

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "logo colors"
        "typeface fonts";
    gap: 1em;
}

/* Header */
header {
    text-align: center;
    font-size: 24px;
}

/* Colors */
[class*="box-"] {
    width: 150px;
    height: 75px;
    margin: 5px;
}

[class*="code-"] {
    width: 150px;
    height: 75px;
    margin: 5px;
    font-size: 18px;
}

.box-1 { 
    background-color: #310A31;
    grid-area: box-1;
}

.box-2 { 
    background-color: #847996;
    grid-area: box-2; 
}

.box-3 { 
    background-color:  #88B7B5;
    grid-area: box-3; 
}

.box-4 { 
    background-color: #A7CAB1; 
    grid-area: box-4; 
}

.box-5 { 
    background-color: #F4ECD6; 
    grid-area: box-5;
}

.code-1 { grid-area: code-1; }
.code-2 { grid-area: code-2; }
.code-3 { grid-area: code-3; }
.code-4 { grid-area: code-4; }
.code-5 { grid-area: code-5; }
.colors h2 { grid-area: h2; }

.colors.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "h2 h2 h2 h2 h2"
        "box-1 box-2 box-3 box-4 box-5"
        "code-1 code-2 code-3 code-4 code-5";
}