@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap');

/*
    WEB 1400 Design Guide Part A
    By: Amber Jeffers
    Date: October 26, 2021
*/

/* Global */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; };

body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
}

/* Grid */
.logo { grid-area: logo; }
.colors { grid-area: colors; }
.typeface { grid-area: typeface; }
.fonts { grid-area: fonts; }

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "logo colors"
        "typeface fonts";
    gap: 1em;
}

/* Header */
header {
    text-align: center;
    font-size: 24px;
}





.container {
    width: 800px;
    height: 400px;
    background-color: palegoldenrod;
    margin: auto;
}