@charset "utf-8";

/*
    WEB 1400 Design Guide Part A
    By: Amber Jeffers
    Date: October 26, 2021
*/

/* Global */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; };

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1ECEF;
}

.clearfix {
    overflow: auto;
}

/* Grid */
.logo { grid-area: logo; }
.colors { grid-area: colors; }
.typeface { grid-area: typeface; }
.fonts { grid-area: fonts; }

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "logo colors"
        "typeface fonts";
    gap: 1em;
}

/* Header */
header {
    text-align: center;
    font-size: 24px;
}

h2 {
    margin-left: 1em;
    font-size: 2em;
}

/* Logo */
.logo img {
    display: block;
    margin: auto;
}

/* Colors */
.colors h2 { grid-area: ch; };
.box-1 { grid-area: b1; }
.box-2 { grid-area: b2; }
.box-3 { grid-area: b3; }
.box-4 { grid-area: b4; }
.box-5 { grid-area: b5; }
.box-6 { grid-area: b6; }
.box-7 { grid-area: b7; }
.box-8 { grid-area: b8; }
.code-1 { grid-area: c1; }
.code-2 { grid-area: c2; }
.code-3 { grid-area: c3; }
.code-4 { grid-area: c4; }
.code-5 { grid-area: c5; }
.code-6 { grid-area: c6; }

.colors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "ch ch ch"
        "b1 b2 b3"
        "c1 c2 c3"
        "b4 b5 b6"
        "c4 c5 c6";
}

[class*="box-"] {
    width: 150px;
    height: 75px;
    margin: 5px;
}

[class*="code-"] {
    width: 150px;
    height: 75px;
    margin: 5px;
    font-size: 18px;
}

.box-1 { background-color: #2D445B; }
.box-2 { background-color: #F5AAB7; }
.box-3 { background-color: #F48C9C; }
.box-4 { background-color: #F1ECEF; }
.box-5 { background-color: #9AA6AF; }
.box-6 { background-color: #EEC8CF; }
.box-7 { background-color: #EBD3DC; }
.box-8 { background-color: #F48494; }
