@charset "utf-8";
@font-face {
    font-family: 'Ubuntu';
    src: url(/fonts/Ubuntu-Regular.ttf);
}

/*
    WEB 1400 Design Guide Part A
    By: Amber Jeffers
    Date: October 26, 2021
*/

/* Global */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; };
.clearfix { overflow: auto; }
html { background-color: #6C808C; }

body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1500px;
    min-width: 640px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 5px solid #254559;
}

/* Grid */
.logo { grid-area: logo; }
.colors { grid-area: colors; }
.typeface { grid-area: typeface; }
.font { grid-area: font; }

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "logo"
        "colors"
        "typeface"
        "font";
}

/* Header */
header {
    text-align: center;
    font-size: 30px;
    color: #254559;
    letter-spacing: 2px;
    font-weight: bold;
}

h2 { 
    color: #254559;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 2em;
}

/* Logo */
.logo-1 {
    text-align: center;
}

.logo img {
    border: 3px solid #254559;
    border-radius: 5px;
}

.logo p { 
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

.logo p:nth-of-type(2),
.logo p:nth-of-type(3) {
    font-size: 18px;
}

/* Colors */
.colors h2 { 
    grid-area: h;
    margin-top: 5em;
}
.box-1 { grid-area: b1; } 
.box-2 { grid-area: b2; }
.box-3 { grid-area: b3; }
.box-4 { grid-area: b4; }
.box-5 { grid-area: b5; }
.code-1 { grid-area: c1; }
.code-2 { grid-area: c2; }
.code-3 { grid-area: c3; }
.code-4 { grid-area: c4; }
.code-5 { grid-area: c5; }

.colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "h h h h h"
        "b1 b2 b3 b4 b5"
        "c1 c2 c3 c4 c5";
    
}

[class*="box-"] {
    width: 150px;
    height: 75px;
    margin: 0 auto;
    border: 3px solid #254559;
    border-radius: 5px;
}

[class*="code-"] {
    width: 150px;
    height: 75px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: -7em;
}

.box-1 { background-color: #2D445B; }
.box-2 { background-color: #F48C9C; }
.box-3 { background-color: #F5AAB7; }
.box-4 { background-color: #F1ECEF; }
.box-5 { background-color: #9AA6AF; }


/* Typeface */
